certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
colorlog==5.0.1
colormap==1.0.3
easydev==0.11.0
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pexpect==4.8.0
Pillow==5.4.1
ptyprocess==0.7.0
requests==2.25.1
urllib3==1.26.4
Werkzeug==1.0.1
