
<div class="card-body">
    <div class="form-row">
	<div class="col-md-4">
	    <div class="form-group">
		<a href="/"><button type="button" class="btn btn-dark btn-block">MOOD BOARD</button></a>
	    </div>
	</div>
      <div class="col-md-4">
	    <div class="form-group">
		<a href="/captcha"><button type="button" class="btn btn-warning btn-block">CAPTCHA</button></a>
	    </div>
	</div>
	<div class="col-md-4">
	    <div class="form-group">
		<a href="/stego"><button type="button" class="btn btn-danger btn-block">STEGANOGRAPHY</button></a>
	    </div>
	</div>
    </div>
</div>
